<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.demo.mapper.LScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.work.demo.entity.LScore">
        <id column="id" property="id" />
        <result column="login_id" property="loginId" />
        <result column="Competition_id" property="competitionId" />
        <result column="score" property="score" />
        <result column="is_del" property="isDel" />
        <result column="note" property="note" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
